/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.acf-fields .CodeMirror-line {
    padding-left: 2em;
}

#departmentchecklist .children .children {
  display: none;
}

  #departmentchecklist .children .children input {
    pointer-events: none;
    tab-index: -1;
  }
